#root {
    padding: 15px 0;
}
#data-table {
    table-layout: fixed;
}
#data-table th {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
#data-table tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}
#data-table tr.active {
    color: #fff;
    background: #007bff;
;
}
.carrot {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    padding-left: 5px;
}
.carrot i {
    vertical-align: text-top;
}
.bd-example {
    padding: 1rem;
    border: solid #f7f7f9;
}

.popup-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000bf;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-wrap .popup {
    position: relative;
    padding: 20px;
    background: #fff;
    width: 500px;
}
.popup-wrap .popup .close-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 24px;
    color: #000;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity .3s;
}
.popup-wrap .popup .close-btn:hover {
    opacity: 1;
}